extends ../../layouts/layout.pug
include ../../components/create_tree.mixin.pug

block css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/file-upload-with-preview@6.1.2/dist/style.min.css")

block script
    script(src="https://cdn.jsdelivr.net/npm/file-upload-with-preview@6.1.2/dist/index.iife.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js") 
    script(src="/admin/js/products/edit.js")

block main
    div(class="flex items-center justify-between mb-[1rem]") 
        h1(class="w-full text-[20px] font-bold") Chỉnh sửa sản phẩm (#{product.name})
        div(class="flex gap-x-[1rem]")
            sl-button(href="/admin/products/index" variant='primary' size='small' outline) Quay lại danh sách
            sl-button(btn-submit variant='primary' size='small' ) Cập nhật
    
    form(action=`/admin/products/edit/${product._id}` method = 'patch' class="flex flex-col gap-y-[10px]" update-products)
        sl-input(size = 'small' label = 'Tên sản phẩm' id = 'name' type="text" placeholder = 'Tên sản phẩm...' name = 'name' required value=product.name)
        sl-input(size = 'small' label = 'Mô tả sản phẩm' id = 'description' type="text" placeholder = 'Mô tả sản phẩm...' name = 'description' value=product.description)
        sl-input(required size = 'small' label = 'Giá trước khi giảm' id = 'price' type="number"  placeholder = 'Giá trước khi giảm...' name = 'price' value=product.price )
        sl-input(required size = 'small' label = '% giảm giá' id = 'discount' type="number" placeholder = '% giảm giá...' name = 'discount' value=product.discount  )
        sl-input(required size = 'small' label = 'Số lượng' id = 'quantity' type="number" placeholder = 'Số lượng...' name = 'quantity' value=product.quantity)
        sl-select(required size = 'small' label = 'Danh mục sản phẩm'  name="product_categories" class="w-full" value = product.product_categories ? product.product_categories._id : null)
            sl-option(value='') ---Lựa chọn---
            +create_tree(tree_categories, null, 0, product.product_categories ? product.product_categories._id : null)
        div(data-image = product.images id= 'images' data-upload-id="preview-image" multiple type="file" accept = 'image/*' placeholder = 'Ảnh sản phẩm...' name = 'images' class="custom-file-container" data-max-file-size="3MB" data-max-files="3")
        
        