extends ../../layouts/layout.pug

block script
    script(src="/admin/js/roles/trash.js") 

block main
    div(class="flex items-center justify-between mb-[1rem]") 
        h1(class="w-full text-[20px] font-bold") Thùng rác nhóm quyền
        div(class="flex gap-x-[1rem]")
            sl-button(href="/admin/roles" variant='primary' size='small' outline) Quay lại danh sách
    

    
    table(class="w-full")
        thead
            tr
                th STT
                th Vai trò
                th Mô tả
                th Xóa bởi
                th Hành động
        tbody
            - if(roles && roles.length > 0)
                each it, index in roles
                    tr
                        td #{index + 1}
                        td #{it.name}
                        td #{it.description}
                        td 
                        td
                            div(class="flex items-center justify-center gap-x-[10px]")
                                sl-button(action = `/admin/roles/khoi-phuc/${it._id}` size="small" variant="primary" outline pill) Khôi phục 
                                sl-button(delete = `/admin/roles/xoa-cung/${it._id}` size="small" variant="danger" outline pill) Xóa vĩnh viễn